
doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="/style.css", rel="stylesheet")
    script(src="https://code.jquery.com/jquery-3.0.0.min.js",
        integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=",
        crossorigin="anonymous")
  body
    aside
      a(href="/!/admin/")
        h1 aiport
      ul
        for annex in annexes
          // TODO links
          a(href="/!/admin/"+annex)
            li= annex
        else
          li no annexes found
    if body
      main !{body}
    else
      main
        p body not found
